DATABASE_NAME=MagicMovieStream
MONGODB_URI=YOUR_MONGODB_URL
SECRET_KEY=your_secret_key
SECRET_REFRESH_KEY=your_refresh_secret_key
# prompt for AI
BASE_PROMT_TEMPLATE=Return a response using one of these words: {rankings}. The respose should be a single word and should not contain any other text. The response should be based on following review:
AI_KEY=YOR_AI_KEY

RECOMENDED_MOVIES_LIMIT=5